/* Form elements */
.label {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: right;

  color: var(--color-dark-brown);
}
input {
  transition: all 0.2s;
  font-family: "vazir";
}
.text-input {
  background: #ffffff;
  border: 1px solid rgba(64, 37, 37, 0.4);
  border-radius: 10px;
  height: 6rem;
  outline: none;
  padding: 1rem 2rem;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: right;
  color: var(--color-dark-brown);
}
.range-input {
  accent-color: var(--color-bright-green);
  background: white;
  appearance: none;
}
.range-value {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  color: var(--color-dark-brown);
}
input[type="range"]::-webkit-slider-thumb,
.range-input::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 5px solid var(--color-bright-red);
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-pale-green);
  border-radius: 50px;
  box-shadow: inset 0 0 0 5px white;
}
input:focus:not(input[type="range"]),
textarea:focus .form-control:focus {
  border: 1px solid var(--color-red) !important;
  box-shadow: 0px 0px 0px 5px rgba(231, 35, 35, 0.1) !important;
  border-radius: 10px;
}

.input-group {
  direction: ltr;
  height: max-content;
}

.search-input {
  max-width: 55rem;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: "vazir";
  border: none;
  height: 6rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
}

.btn--icon {
  fill: var(--color-green);
  height: 6rem;
  display: flex;
  flex: 0 0;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  width: 6rem;
}
.btn--icon svg {
  fill: inherit;
}
.btn__small {
  width: 20rem;
}
.btn--primary:hover,
.btn--primary:active {
  background: var(--color-bright-green);
}
.btn--icon:hover {
  fill: var(--color-bright-green);
}
.btn--primary {
  color: white;
  fill: white;
  background-color: var(--color-green);
}
.btn--danger {
  fill: white;
  color: white;
  background-color: var(--color-danger);
}
.btn--danger:hover,
.btn--danger:active {
  color: var(--color-dark-brown);
  fill: var(--color-dark-brown);
  background-color: #ffc107;
}
.btn--cancel {
  color: white;
  fill: white;
  background-color: var(--color-red);
}
.btn--cancel:hover,
.btn--cancel:active {
  background-color: var(--color-bright-red);
}
.btn--center {
  text-align: center;
  margin: auto;
}

.btn--print:hover {
  background-color: var(--color-bright-green);
}
.link {
  font-weight: normal;
  font-size: 2.4rem;
  color: var(--color-red);
  display: inline-block;
}
.link:hover,
.link:active {
  color: var(--color-bright-red);
}
.textarea-input {
  background: #ffffff;
  border: 1px solid rgba(64, 37, 37, 0.4);
  border-radius: 10px;
  outline: none;
  padding: 1rem 2rem;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: right;
  color: var(--color-dark-brown);
  transition: all 0.2s;
}

/* Categories for OrderCheckout section */
.categories {
  border-radius: 10px;
  background-color: white;
  max-width: 74rem;
  display: grid;
  height: max-content;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 auto 3.5rem;
  overflow: hidden;
}
.categories__new {
  border: 1px solid var(--color-pale-pink);
}
.categories__printed {
  border: 1px solid var(--color-pale-green);
}
.category {
  display: inline-block;
  font-size: 2.4rem;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0;
  color: var(--color-dark-brown);
  transition: all 0.2s;
}
.category--new {
  background-color: var(--color-pale-pink);
}
.category--printed {
  background-color: var(--color-pale-green);
}
.category:hover {
  background-color: var(--color-bright-brown);
}
/* Table styles */
.table-custom {
  min-width: 83rem;
  overflow-y: scroll;
  width: 100%;
}
.table-custom thead {
  background: white;
}
.table-custom thead th {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.table-custom tbody tr td {
  padding: 0.5rem 0.5rem;
  font-size: 2.4rem;
}
.table-custom__red tbody tr:nth-child(odd) {
  background-color: var(--color-pale-pink);
}
.table-custom__red tbody tr td:not(:last-of-type) {
  border-left: 1px solid var(--color-pale-pink-border);
  border-right: 1px solid var(--color-pale-pink-border);
}
.table-custom__red tbody tr td:last-of-type {
  border-left: 1px solid var(--color-pale-pink-border);
}
.table-custom__red tbody tr:last-of-type {
  border-bottom: 1px solid var(--color-pale-pink-border);
}
.table-custom__green tbody tr:nth-child(odd) {
  background-color: var(--color-pale-green);
}
.table-custom__green tbody tr td:not(:last-of-type) {
  border-left: 1px solid var(--color-pale-green-border);
  border-right: 1px solid var(--color-pale-green-border);
}
.table-custom__green tbody tr td:last-of-type {
  border-left: 1px solid var(--color-pale-green-border);
}
.table-custom__green tbody tr:last-of-type {
  border-bottom: 1px solid var(--color-pale-green-border);
}
.table-header-red {
  border: 1px solid var(--color-pale-pink-border);
}
.table-header-red thead {
  background-color: var(--color-pale-pink);
  height: 4rem;
}
.table-header-red thead th {
  width: 20%;
}

.table-header-red tbody tr {
  height: 8rem;
}

@media screen {
}
/* Search bar settings */
.between-date-text {
  font-size: 3.2rem;
  vertical-align: center;
  margin-bottom: 0;
}

/* Income Element */
.income-element {
  position: absolute;
  bottom: 4rem;
  left: 8rem;
}
.income-element .number-preview {
  background-color: var(--color-pale-green);
}

/* Filter-row  */
.filter-row .search-input {
  width: 100%;
  margin-right: auto;
}

/* Sign in box */

.sign-in-box {
  width: 330px;
  margin: 15vh auto 0;
}
.sign-in-img {
  display: block;
  margin: 2rem auto;
  width: 20rem;
  height: 20rem;
  fill: var(--color-dark-brown);
}

/* Modals */
.modal-footer {
  border: none;
}
.modal-img {
  width: 9.6rem;
  height: 9.6rem;
  margin: auto;
}
.modal-img__green {
  fill: var(--color-green);
}
.modal-img__red {
  fill: var(--color-red);
}
.modal-img__danger {
  fill: var(--color-danger);
}
.modal-text {
  font-size: 2.4rem;
  direction: rtl;
  text-align: center;
}

/* Employees image */
.employee-img-container {
  padding: 0.5rem;
  width: 30rem;
  height: 40rem;
  margin: auto;
  border: 1px solid var(--color-dark-brown);
  text-align: center;
}
.employee-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
